body {
	background-image:url("imgs/theman/0.png");
	background-repeat: no-repeat;
	background-position: 50% 25%;
	background-size: 90%;
}

.center {
	text-align: center;
	width: 75%;
	margin: auto;
	color: DarkGoldenrod;
}

.center table {
	margin: 0 auto;
	border: 5px solid Goldenrod;
	color: DarkGoldenrod;
}

.center input[type=text] {
	position: relative;

}

.center input[type=submit] {
	color: white;
	font-weight: bold;
	position: relative;
	left: 150%;
	background-color: BurlyWood;
	border: 2px solid DarkGoldenrod;
}

.error {
	text-align: center;
	color: red;
}